<h5>
  <%= t('settings.subscription.title') %>
</h5>

<p>
  <%= t('settings.subscription.about') %><br>
</p>

<ol>
  <li><%= t('settings.subscription.feature.one') %></li>
  <li><%= t('settings.subscription.feature.two') %></li>
</ol>
<hr>
<%= render :partial => "components/facebook_subscription" %>
