<%= content_tag_for(:div, chat, class: 'vink-chat-unit') do |chat| %>
    <%= link_to chat_path(id: chat.id), data: { turbolinks: false } do %>
        <div class="vink-conversations-unit d-flex flex-row justify-content-between align-items-start">
          <div class="vink-conversations-profile d-flex">
            <%= image_tag "#{Thredded.avatar_url.call(chat.user)}" %>
          </div>
          <div class="vink-conversations-main">
            <span><%= chat.user.display_name %></span>
            <span>마지막메세지</span>
          </div>
          <div class="vink-conversations-info">
            <span class="vink-conversations-info-time"><%= time_ago_in_words(chat.created_at) %> <%= t('common.time_ago') %></span>
            <div class="vink-conversations-info-alarm">
              <span>알림</span>
            </div>
          </div>
        </div>
    <% end %>
<% end %>
