<% post, content = post_and_content if local_assigns.key?(:post_and_content) %>


<header class="vink-post-unit d-flex flex-column justify-content-between">
  <%= link_to(post.permalink_path, class: 'vink-link') do %>
      <div class="vink-post-unit-content w-100 d-flex flex-row justify-content-between align-items-center">
        <%= content %>
      </div>
  <% end %>
  <div class="vink-post-unit-profile d-flex flex-row justify-content-end align-items-center">
    <span class="vink-post-unit-time-ago"><%= time_ago post.created_at %></span>&nbsp;|&nbsp;
    <%= link_to user_path(post.user), class: 'vink-link d-flex align-items-center' do %>
        <span><%= post.user.display_name %>&nbsp;</span><%= image_tag Thredded.avatar_url.call(post.user) %>
    <% end %>
  </div>
</header>
