<% post, content = post_and_content if local_assigns.key?(:post_and_content) %>


<div class="card vink-post-unit">
  <div class="card-body">
    <%= link_to(post.permalink_path, class: 'vink-link') do %>
        <h6 class="card-title"><%= post.to_model.postable.title %></h6>
        <div class="vink-post-unit-content d-flex flex-row justify-content-between align-items-center">
          <%= content %>
        </div>
    <% end %>
  </div>
  <div class="card-footer">
    <div class="vink-post-unit-messageboard">
      <%= link_to '/forum/' + post.to_model.messageboard.slug, class: 'vink-link' do %>
          <span><%= post.to_model.messageboard.name %></span>
      <% end %>
    </div>
    <div class="vink-post-unit-profile d-flex flex-row justify-content-end align-items-center">
      <span class="vink-post-unit-time-ago"><%= time_ago post.created_at %></span>&nbsp;|&nbsp;
      <%= link_to user_path(post.user), class: 'vink-link d-flex align-items-center' do %>
          <span><%= post.user.display_name %>&nbsp;</span><%= image_tag Thredded.avatar_url.call(post.user) %>
      <% end %>
    </div>
  </div>
</div>
